<!DOCTYPE html>
<html>
<head>
    <title>Simple Leaflet Map with Heatmap </title>
    <meta charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
    />
</head>
<body>
    <div id="map" style="width: 1800px; height: 900px"></div>

    <script
       src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js">
    </script>
    
    <script
       src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
    </script>

    <script
        src="https://d3js.org/d3.v4.min.js">
    </script>

    <script>
        var map = L.map('map').setView([41.8781,-87.6298], 12);
        mapLink = 
            '<a href="https://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);
        

        d3.json("/_crimes", function(data) {
            var test_data = [
                {"lat": 41.749135591, "lng": -87.685268108, "value": 10},
                {"lat": 41.748135591, "lng": -87.685268108, "value": 20},
                {"lat": 41.8781, "lng": -87.6298, "value": 30}
            ]
            var test_data2 = [
                [41.749135591, -87.685268108, 1],
                [41.748135591, -87.685268108, 2],
                [41.8781, -87.6298, 1]
            ]
            console.log(test_data)
            var heat = L.heatLayer(data,{
                radius: 60,
                blur: 15, 
                maxZoom: 17
            }).addTo(map);
        });
        
        

    
    </script>
</body>
</html>