<!DOCTYPE html>
<html>
<head>
    <title>Better Chicago Hackathon</title>
    <meta charset="utf-8" />
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
    />
    <style>

    /* @import url(//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css); */
    /*@import url(../style.css?aea6f0a);*/
    /* a:not(:hover) {
        text-decoration: none;
    } */
    div.tooltip {
        position: absolute;	
        text-align: center;	
        width: 60px;	
        height: 28px;		
        padding: 2px;	
        font: 12px sans-serif;	
        background: lightsteelblue;	
        border: 0px;					
        border-radius: 8px;
        z-index: 1050;
        /*  pointer-events: none;	This line needs to be removed */
    }

    svg {
        position: relative;
    }

    .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane > svg path, .leaflet-tile-container {
        pointer-events: all
    }

    svg path * {
        pointer-events: all;
    }

    path {
        fill: black;
        fill-opacity: .05;
        stroke: #000;
        stroke-width: 1.5px;
        /* pointer-events: all; */
    }

    path:hover {
        fill: brown;
        fill-opacity: .9;
    }


    </style>
</head>

<body>
    
    <div id="map" style="width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; margin: -5 -5 0 0"></div>

    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"></script>
    <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>'
    <script>
        // Create tooltip div
        var div = d3.select("body")
            .append("div")              // declare the tooltip div 
            .attr("class", "tooltip")   // apply the 'tooltip' class
            .style("opacity", 0);       // set the opacity to nil
            
        var map = L.map('map').setView([41.8781,-87.6298], 11).setMinZoom(11);
        map.createPane("boundaries")
        mapLink = 
            '<a href="https://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);
        map.getPane("boundaries").style.zIndex = 1000;
        var svg = d3.select(map.getPane("boundaries")).append("svg").attr("pointer-events","visible"),
            g = svg .append("g")
                    .attr("class", "leaflet-zoom-hide")
                    .attr("pointer-events","visible");

        d3.json("/assets/cps_boundaries.json", function(boundaries) {

            var transform = d3.geoTransform({point: projectPoint}),
                path = d3.geoPath().projection(transform);
            
            var feature = g.selectAll("path")
                .data(boundaries.features)
                .enter().append("path")
                .attr("pointer-events", "all")
                .on("mouseover", function() {
                    console.log("test")
                })
                .on("click", function(d) {
                    console.log("click")
                    div.transition()
                        .duration(500)	
                        .style("opacity", 0);
                    div.transition()
                        .duration(200)	
                        .style("opacity", .9);	
                    div	.html(d3.select(this).attr("name") + "test")	 
                        .style("left", path.centroid(d)[0] + 50 + "px")			 
                        .style("top", path.centroid(d)[1] + "px");
                    d3.select(this)
                            .attr("fill-opacity", .9)
                            .attr("fill", "blue")
                });
            
            // Set the map to reset the boundaries whenever it zooms
            map.on("zoom", reset);
            reset();
            
            // Reposition the SVG to cover the features.
            function reset() {
                var bounds = path.bounds(boundaries),
                    topLeft = bounds[0],
                    bottomRight = bounds[1];

                svg .attr("width", bottomRight[0] - topLeft[0])
                    .attr("height", bottomRight[1] - topLeft[1])
                    .style("left", topLeft[0] + "px")
                    .style("top", topLeft[1] + "px")
                    .attr("pointer-events","visible");

                g   .attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")")
                    .attr("pointer-events","visible");

                feature.attr("d", path);
            }

            // Use Leaflet to implement a D3 geometric transformation.
            function projectPoint(x, y) {
                var point = map.latLngToLayerPoint(new L.LatLng(y, x));
                this.stream.point(point.x, point.y);
            }
        });  

        d3.json("/_crimes", function(data) {
            
            // Adding the heatmap
            var heat = L.heatLayer(data,{
                radius: 60,
                blur: 15, 
                maxZoom: 17
            }).addTo(map);
            
            // It looks better if the heatmap goes away when we zoom and comes back after
            map.on("zoomstart", remove_heat);
            map.on("zoomend", add_heat);

            function remove_heat() {
                map.removeLayer(heat)
            }

            function add_heat() {
                map.addLayer(heat)
            }
        });
        

        // var runLayer = omnivore.kml('/assets/cps_boundaries.kml')
        //     .on('ready', function() {
        //         map.fitBounds(runLayer.getBounds());
        //     })
        //     .addTo(map);
        
        // d3.json("/assets/circles.json", function(collection) {
        //     /* Add a LatLng object to each item in the dataset */
        //     collection.objects.forEach(function(d) {
        //         d.LatLng = new L.LatLng(d.circle.coordinates[0],
        //                                 d.circle.coordinates[1])
        //     })
            
        //     var feature = g.selectAll("circle")
        //         .data(collection.objects)
        //         .enter().append("circle")
        //         .style("stroke", "black")  
        //         .style("opacity", .6) 
        //         .style("fill", "red")
        //         .attr("r", 20);  
            
        //     map.on("viewreset", update);
        //     update();

        //     function update() {
        //         console.log("test")
        //         feature.attr("transform", 
        //         function(d) { 
        //             return "translate("+ 
        //                 map.latLngToLayerPoint(d.LatLng).x +","+ 
        //                 map.latLngToLayerPoint(d.LatLng).y +")";
        //             }
        //         )
        //     }
        // });			 
    
    </script>
</body>
</html>